/.pulp_cache/
/.purs-repl
/bower_components/
/node_modules/
/output/
/.psci_modules/

/pursuit.json

# Release builds of the purescript compiler appear to be compiled with
# profiling enabled.  This causes psc and friends to create these *.tix files.
*.tix
